body{
    background: rgb(78, 78, 78);
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(126, 126, 126);
    background-image: url("images/2.jpg");
    background-size:100%;
    background-position:center;
    padding:20px;
    height:400px;
    text-align: center;
}
header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    margin-top:40px;
}
header .mobile{
    display:none;
}
header .logo a {
    background-image: url("images/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display:inline-block;
    height: 135px;
    position: relative;
    text-indent: -99999999px;
    top:-30px;
    width: 300px;
}
nav ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin-right:20px;
}

/* RESPONSIVE RULES */
@media screen and (max-width:750px){
    header{
        height:200px;
        font-size:13px;
    }
    header .mobile{
        display:inline-block;
        font-size:13px;
    }
    header .desktop{
        display:none;
    }
}
.features{
    background: rgb(255, 255, 255);
    color: gray;
    padding:20px;
    display:flex;
    flex-direction: row;
    /* 块自动回行 */
    /* flex-wrap:wrap; */
}
.features figure{
    margin:auto;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}
.features figure img{
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
    width: 200px;
    height: 200px;
}

/* RESPONSIVE RULES */
@media screen and (max-width:750px){
    .features{
        display:block;
    }
    .features figure{
        margin:auto auto 40px auto;
    }
}
.content1{
    background: rgb(159, 228, 0);
    font-size:12px;
    text-align: center;
}
footer{
    background: black;
    color:gray;
    font-size:12px;
    padding:10px 20px;
    text-align:center
}
